*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

.topHeroes a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 10vw;
  height: 10vw;
  margin: 1vw;
  background-color: #435960;
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

span{
  font-size: 1vw;
}

.mainDash{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  margin-top: 10vh;
  transform: translateX(-32px);
}

.section-titleDash{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100vw;
    margin-top: 10vh;
    /*transform: translateX(-32px);*/
}

.section-titleDash h2{
    font-size: 2vw;
    font-weight: 400;
    color: #333;
    margin: 0;
    padding: 0;
}



.topHeroes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    width: 100vw;
    margin-top: 1vh;
}
