.mainDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin:0 25vw;
}

.section-titleDetails{
    font-size: 3vw;

}



.Details-id{
    display: flex;
    align-content: center;
    font-size: 2.75vw;
}

.Details-name{
    display: flex;
    align-content: center;
    font-size: 2.75vw;

}

.Details__titlename{
    color: #435960;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.Details__id{
    padding-left: 2vw;
}

.Details__name{
    margin-left: 20px;
    border: 0.5px solid;
    width: 25vw;
    padding: 2vh 0;
}

.back{
    background-color: #eeeeee;
    width: min-content;
    padding: 1vw;
    border-radius: 8px;
}

